[Desktop Entry]
Version=1.0
Terminal=false
Icon=ms-office
Type=Application
Categories=Office
Exec=ms-office-online
Name=Microsoft Office Online
GenericName=Microsoft Office Online
Comment=Use the online version of Microsoft Office
Keywords=office;web;internet
StartupNotify=true
